a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
body{
    margin: 0;
    padding: 0;
    margin-top: 7.5vh;
}
.form-login{
    background-color: #EEEEEE;
    width: 45vw;
    height: 77.5vh;
    margin-left: 27.5vw; 
    margin-top: 3vh;
    border: solid #707070 1px;
    border-radius: 20px;
}
.login-container{
    text-align: center;
}
.size-input{
    width: 35vw;
    height: 4.5vh;
    font-size: 1.4em;  
    margin-top: 35px;
}

.menu-login{
    font-size: 1.8em; 
    display: block  
}

.botao-login{
    background: #FFFFFF;
    width: 5vw;
    list-style: none;
    width: 22.5vw;
    height: 7.5vh;
    display: inline-block;
    border: solid #707070 1px;
    border-radius: 10px;
    
}

.botao-cadastro{
    background: #00396B;
    width: 22.5vw;
    height: 7.5vh;
    display: inline-block;
    border: solid #707070 1px;
    border-radius: 10px;
}

.button-cadastrar{
    margin-top: 30px;
    color: #FFFFFF;
    background: #00396B;
    width: 12.5vw;
    height: 7.5vh;
    border: solid #707070 1px;
    border-radius: 50px; 
 
    font-size: 1.4em;
}
.esquecer-senha{
    color: #A58D8D;
}

.input-professor{
    margin-top: 30px;
    font-size: 1.3em;
}
.color-black{
    color: black;
}