<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conteúdo Guia de Estudo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/student/studentQuestionID.css">
</head>

<body>
    <% include header %>

    <section class="regular-area">
        <h2>Pergunta:</h2>

        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ex vitae ut ipsam voluptatem eum dolores beatae
            aut, blanditiis aperiam modi. Iste tempore fugit minima quod repellat corporis voluptates! Dignissimos!
            Ullam, eligendi. Animi eos veritatis expedita harum maiores ab fugiat nihil assumenda deserunt. Hic
            exercitationem quia facilis molestias. Minima excepturi officiis beatae cumque esse ut sequi totam vero!
            Facere, excepturi.
            Omnis consequuntur ex officia reiciendis. Architecto, itaque deleniti debitis, asperiores distinctio
            adipisci minima, molestias molestiae aspernatur est deserunt vero recusandae iure amet magnam! Quidem,
            exercitationem qui est quo cumque explicabo.
            Neque quae laborum asperiores voluptatibus laboriosam blanditiis quia a doloremque non voluptatum ducimus
            ipsa ut eveniet, sed, eligendi commodi. Quasi quo sed error expedita, voluptatum nulla velit. Vel, nobis
            tempore.
            Maxime, praesentium? Eius alias quas earum voluptate porro aliquam vitae numquam, soluta laboriosam itaque
            ducimus harum necessitatibus tempora dignissimos quisquam ut modi maiores odio possimus adipisci ullam
            ipsam. Dolorem, facere.
            Nobis doloribus sapiente at labore molestias placeat laudantium blanditiis? Dolorum iusto nemo corporis
            voluptatem magnam error, ut dolores maxime quibusdam iste. Deleniti nihil repudiandae ad molestiae est. Id,
            odit nemo.
            Fugit dolorem repellat, iste voluptates pariatur nemo dignissimos assumenda. Perspiciatis, eum. Rerum
            quaerat quos, ad voluptatum expedita cum earum qui corporis. Ipsa nam reprehenderit est quis animi dolorum!
            Repellat, eius.</P>

        <input type="radio" name="options">(A) <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo vitae esse
            voluptatem, nulla saepe pariatur expedita cum amet qui soluta aperiam, veniam tenetur non sequi aut, numquam
            neque adipisci rem.</span> <br>
        <input type="radio" name="options">(B) <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quae
            pariatur, asperiores atque dolor nesciunt cum inventore quam accusamus rerum sed veritatis numquam
            voluptates enim tempora totam eos! Ad, similique.</span> <br>
        <input type="radio" name="options">(C) <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem,
            omnis enim minima laboriosam nihil soluta commodi rerum odit tempora illum, aspernatur libero, quod labore
            cupiditate iusto eveniet facere consectetur cumque?</span> <br>
        <input type="radio" name="options">(D) <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, enim
            quae! Repellendus at doloribus accusamus exercitationem dolor! Ad, consequuntur? Officia assumenda voluptas,
            dolor explicabo incidunt earum vel voluptatem mollitia amet?</span> <br>
        <input type="radio" name="options">(E) <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, iusto
            quos? Error facilis ullam quis repudiandae omnis provident veritatis culpa laborum, quia voluptatem ipsa
            expedita dolores aspernatur, cum ducimus delectus!</span> <br>

        <div class="button-end">
            <div>
                <input type="button" value="Corrigir" name="" class="button-corrigir">
            </div>
            <div>
                <input type="button" value="Confirmar" name="" class="button-cadastrar">
            </div>
        </div>

    </section>
</body>

</html>