<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/autentication.css">
    <title>Login</title>
</head>

<body>
    <div class="login-container">
        <div class="menu-login">
            <div class="botao-login">
                <span><a href="login">Login</a></span>
            </div>

            <div class="botao-cadastro">
                <span> <a class="a-color" href="/user/sign"> Criar Perfil</a></span>
            </div>
        </div>

        <form action="" class="form-login">
            <input class="size-input-email" type="text" placeholder="E-mail"> <br>
            <input class="size-input-senha" type="text" placeholder="Senha"> <br>
            <button class="button-login" >Fazer Login</button> <br>
            <span><a  class="esquecer-senha" href=""> Esqueci minha senha</a></span>
    </div>
    </form>
</body>

</html>