<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/student/studentMainPage.css">
    <title>Página Inicial</title>
</head>

<body>
    <% include header %>
    <section class="regular-area center">
        
            <h2>O que é a MathSchool</h2>
            <div class="justify">
            <p>
                É uma plataforma para o estudo de matemática. O usuário pode se cadastrar como discente ou docente. Como discente é possível estudar de acordo com a metodologia que cada professor desenvolveu, resolvendo questões e lendo matérias sobre matemática. Como docente é possível criar e reaproveitar conteúdos, guias de estudo, questionários e questões feitas por outros professores para a aplicação de conceitos matemáticos e estudos diversificados.
            </p>
        </div>
            <img src="../../img/img-tutorial/matematica.png" alt="Imagem de matematica">
       
        <div class="justify">
            <h2>Navegação</h2>
            <p>
                Acesse todas as áreas do MathSchool por meio do menu principal, posicionado à esquerda das páginas. O menu mostra o tipo de usuário autenticado, seu nome e e-mail. Além de permitir que o usuário saia de sua conta apertando no botão com simbolo de uma porta, posicionado ao lado das informações do usuário.
            </p>
        </div>
        <div class="justify">
            <h2>Como funciona os Guias de Estudo?</h2>
            <p>
                Acesse a página de guias de estudo no menu ao lado. Nele o discente poderá selecionar algum guia e estudar de acordo com a metodologia de trabalho escolhida, passando por todos os conteúdos e questionários definidos naquele guia.
            </p>
        </div>

        <div class="justify">
            <h2>Conteúdos e Questionários</h2>
            <p>
                Na página de conteúdos, todos os conteúdos já cadastrados por professores são listados, demonstrando o assunto do conteúdo, por meio da imagem ícone, o nome do conteúdo e o nome do autor do mesmo.
                <br> <br>
                Dentro da página de questionários, os alunos podem acessar algum questionário cadastrado, passando por todas as questões daquele questionário, podendo responde-las e corrigi-las.   
            </p>
        </div>
        <div class="justify">
            <h2>Créditos</h2>
            <p>
                Aplicação desenvolvida por Maycon Santos Barbieri e Wesley Monares Rodrigues. <br>
                <br>
                Aplicação desenvolvida com auxilio do orientador Fernando Cesar Balbino no Instituto Federal do Mato Grosso do Sul - Campus Nova Andradina.
            </p>
        </div>
        <div class="img-end">
            <img  src="../../img/img-tutorial/ifms.png" alt="IFMS">
        </div>
        

    </section>

</body>

</html>