<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/student/studentMainPage.css">
    <title>Página Inicial</title>
</head>

<body>
    <% include header %>
    <section class="regular-area">
        <div class="center">
            <h2>O que é a MathSchool</h2>
        </div>
        <p>É uma plataforma para o estudo de matemática. Nela se é possível estudar de acordo com a metodologia que o professor desenvolver, além disso o docente poderá reaproveitar conteúdos, guias de estudo, questionários e questões feitas por outros professores para a aplicação de conceitos matemáticos e estudos diversificados.
           </p>

            <div class="center">
                <h2>Como funciona os Guias de Estudo?</h2>
                <p>Com guia de estudo o discente poderá estudar de acordo com a metodologia de trabalho escolhida pelo professor, passando por todos os conteúdos e questionários que ele definiu para o estudo, mas para isso não é necessário criar vários conteúdos ou questionários do zero, pois a plataforma é de compartilhamento, assim possibilitando o acesso de todos os conteúdos e questionários cadastrados por qualquer professor ou estudante</p>
            </div>


    </section>

</body>

</html>