<!DOCTYPE html>
<html>

<head>
       <meta charset="utf-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title><%= info.title %></title>
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" href="../../css/student/materialList.css">
</head>

<body>
       <% include searchHeader %>

       <main class="material">

              <section class="">

                     <div class="lista">
                            <% questionnaires.forEach( element => { %>
                            <div class="img-configuration">
                                   <a href="/student/questionnaire/<%= element.id %>/0"><img class="img-subject" src="../../img/img-questionario/questionnaire.png" alt=""> </a>
                                   <h3><%= element.name %></h3>
                                   <span class="span-nome"><%= element.author %></span>
                            </div>
                            <% }); %>
                     </div>

              </section>
       </main>
</body>

</html>