<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/cadastrarGuiaEstudo.css">
</head>

<body>
  <% include static/header %>

  <div class="regular-area">

    <section class="buscar-guia">
      <h2>Questões</h2>
      <input class="size-input" type="text">
      <img class="img-search" src="img/img-guia-estudo/search-blue.png" alt="">

      <div class="menu-busca">

        <div class="img-configuration">
          <a href="./"> <img class="img-size" src="./img/img-guia-estudo/more.png" alt=""> </a>
          <h3>Fração</h3>
          <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
          <a href="./"> <img class="img-size" src="./img/img-guia-estudo/more.png" alt=""> </a>
          <h3>Fração</h3>
          <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
          <a href="./"> <img class="img-size" src="./img/img-guia-estudo/more.png" alt=""> </a>
          <h3>Fração</h3>
          <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
          <a href="./"> <img class="img-size" src="./img/img-guia-estudo/more.png" alt=""> </a>
          <h3>Fração</h3>
          <span class="span-nome">Maycon</span>
        </div>
      </div>
    </section>

    <div class="cadastrar-guia">
      <section>
        <label for="nome">Nome:</label>
        <input class="campo-selecao" type="text">
        <div class="botao-cadastra">
          <button>Confirmar</button>
        </div>
      </section>

      <section class="montar-guia">
        <h2 class="titulo-trilha">Questionário Novo</h2>
          <div class="menu-busca">

              <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size-cadastra" src="./img/img-guia-estudo/more.png" alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
              </div>
              <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size-cadastra" src="./img/img-guia-estudo/more.png" alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
              </div>
              <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size-cadastra" src="./img/img-guia-estudo/more.png" alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
              </div>
              <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size-cadastra" src="./img/img-guia-estudo/more.png" alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
              </div>
            </div>
      </section>
    </div>

  </div>
</body>

</html>