<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/mostrarQuestionario.css">
</head>

<body>
    <% include static/header %>

    <section class="questionario-secao">
        <div class="titulo-pergunta">
            <h2>Questão</h2>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, nihil placeat. Itaque sint voluptas in
            aspernatur ut quisquam error rem? Aliquid quia illum ipsam officiis provident cum odit recusandae eligendi?
            Enim, numquam provident praesentium atque sapiente et optio molestiae consequuntur? Ducimus magnam obcaecati
            sequi dolorem inventore ea, at perspiciatis reiciendis commodi. Aperiam, ad quae voluptate quis blanditiis
            voluptatum iusto deleniti!
            Maxime tenetur error nobis temporibus pariatur perspiciatis quae numquam doloribus esse beatae dolore
            possimus minima ex, eligendi eius unde. Consequuntur, esse. Delectus soluta repudiandae tempore temporibus
            eligendi nemo ad itaque.
            Ipsa nulla magnam neque asperiores expedita velit illum iusto inventore dolore rem perferendis dicta labore
            ut atque optio, veniam dolorum, hic, enim voluptatibus? Totam optio inventore maiores id rerum obcaecati!
            Reprehenderit nobis enim libero nisi natus iusto deleniti cum sequi eveniet corporis repellendus pariatur,
            aspernatur nostrum culpa quia ipsum maiores magni, ea odit vero quis sit? Ducimus, voluptates. Itaque,
            dolor!
            Quam quo vel fugit repellendus iusto cumque atque? Ipsam autem nulla hic omnis repellendus porro blanditiis
            eius quasi id magni necessitatibus voluptate, sunt harum soluta non et voluptatem reiciendis itaque.
            Numquam, reprehenderit! Earum doloremque, corporis quos porro mollitia nihil obcaecati quasi suscipit atque
            ullam nostrum? Saepe animi, quos quae asperiores, in accusantium recusandae tempora molestias nobis vel
            officia amet fugiat.
            Ipsa, sint suscipit sapiente numquam cumque quis tenetur magni incidunt neque facere libero repellat
            praesentium soluta dolorem amet nemo inventore quaerat totam aliquid vel itaque ducimus eaque autem.
            Voluptate, alias?
            Vel ipsam culpa laboriosam eius sunt atque quam qui. Laboriosam laborum in, at illo mollitia veniam eligendi
            asperiores, vel aliquam provident accusantium corporis aspernatur inventore a tempore magnam dignissimos
            deserunt?
            Reprehenderit, ea! Modi quod pariatur animi, </p>
        <form class="opcoes-form">
            (A)<input TYPE="RADIO" NAME="OPCAO" VALUE="op1"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Odio nulla in cupiditate, qui possimus repudiandae quae tempora nesciunt totam voluptatibus, aperiam iste
            sint molestias modi iusto ipsam architecto facere tempore. <br>
            (B)<input TYPE="RADIO" NAME="OPCAO" VALUE="op2"> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Nihil sequi unde tempore, id dignissimos minus error exercitationem earum laudantium ut laborum quam.
            Provident, molestias ex error inventore laudantium aliquam illum! <br>
            (C)<input TYPE="RADIO" NAME="OPCAO" VALUE="op3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto corrupti quae officiis, neque earum consectetur veritatis saepe labore harum libero repellat
            doloremque officia tempora. Vel dolorum sint non mollitia totam? <br>
            (D)<input TYPE="RADIO" NAME="OPCAO" VALUE="op4"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Perferendis tempore architecto saepe error sequi accusamus, quo illum nesciunt iure amet rerum atque,
            commodi nulla blanditiis similique! Ducimus adipisci qui ut. <br>
            <div class="center">
                <button class="enviar-dados-botao">Confirmar</button>
            </div>
        </form>

    </section>
</body>

</html>