
body{
    background-color: #EEEEEE;
}
.menu-texto{
    width: 61.5vw;
    margin-top: 100px;
    margin-left: 21.5vw;
    background-color: white;
    padding: 100px;
    padding-top: 60px;
    text-align: justify;
}

.center{
    text-align: center;
}

p{
    line-height: 27.5x;
    font-size: 1.3em;
}

h2{
    font-size: 2.25em;
    color: #00396B;
}