.regular-area{
    margin-left: 25vw;
    margin-top: 23vh;
}

.regular-area h1{
    text-align: center;
    font-size: 2em;
}

.img-size{
    width: 50px;
}

.title-name{
    font-size: 1.8em;   
    vertical-align: 15px;
}
a{
    text-decoration: none;
}
.border{
    margin-bottom: 40px;
}