<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./stylesheets/cadastrarGuiaEstudo.css">
</head>

<body>
  <% include header %>

  <div class="regular-area">


    <div class="cadastrar-guia">
      <section>
        <label for="nome">Nome:</label>
        <select id="campo-selecao">
          <option value="adicao">Adição</option>
          <option value="subtracao">Subtração</option>
          <option value="multiplicacao">Multiplicação</option>
          <option value="divisao">Divisão</option>
        </select>
        <div class="botao-cadastra">
          <button>Confirmar</button>
        </div>
      </section>


    </div>

  </div>
</body>

</html>