<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../stylesheets/guiaEstudo.css">
</head>

<body>
    <% include header %>

    <section class="adicionar-guia">
        <a href="./cadastrarConteudo"> <img class="img-cadastrar" src="./img/img-guia-estudo/more.png" alt="">
        </a>
    </section>

    <section class="guias">
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>
        <div class="img-configuration">
            <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
            <h2>Fração</h2>
            <span class="span-nome">Maycon</span>
        </div>

    </section>
</body>

</html>