.adicionar-material{
    margin-left: 20vw;
    margin-top: 5.75vw;
    text-align: center;
}
.line{
    border-bottom: solid #00396B 1px; 
    margin-bottom: 30px;
}

.img-cadastrar{
    margin-top: 10.25vh;
    max-width: 150px;
    margin-bottom: 50px;
}
.lista{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin: 0 135px;
}

.img-configuration{
    flex:1;
    margin: 50px 20px 30px 20px;
    max-width: 200px;
    min-width: 150px;
    text-align: center;
}

.img-subject{
    max-width: 65%;
    max-height: 65%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

h3{
    margin: 0;
    padding: 0;
    color: #707070;
}
.span-nome{
    color: #707070;
}

.center{
    text-align: center;
    color: #00396B;
    font-size: 1.8em;
    margin-bottom: 0;
}

.img-delete{
    max-width: 30px;
    max-height: 30px;
    margin-left: 90px;
    margin-bottom: -5px;
}

.img-form{
    max-width: 128px;
}