.regular-area{
    margin-left: 25vw;
    margin-top: 23vh;
}

.img-size{
    width: 50px;
}

span{
    font-size: 1.8em;   
    vertical-align: 15px;
}
a{
    text-decoration: none;
}
div{
    margin-bottom: 40px;
}