<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>titulo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/menu.css">    
</head>
<header class="header-menu">
    <img class="pi-menu" src="img/img-menu/pi-white.png">
    <span class="word-menu">MathSchool</span>
     <h1 class="title-menu">Página Inicial</h1>
 </header>

     <nav class="nav-menu">
        <input class="search-input-menu" name="Pesquisar" placeholder="Pesquisar"  type="text">
        <img class="search-img-menu" src="img/img-menu/search-white.png" alt="">

        <a class="button-register" href="./login">Login</a>
        <a class="button-register" href="./cadastro">Criar Perfil</a>

        <ul class="list-menu">
            <a class="div-menu-flex" href="./"> 
                <img class="img-menu-lateral" src="img/img-menu/home.png" alt="">
                <li class="li-space-menu">Página Inicial</li>
            </a>

            <a class="div-menu-flex" href="guiaEstudo">          
                <img class="img-menu-lateral" src="img/img-menu/map-location.png" alt="">
                <li class="li-space-menu">Guia de Estudo</li>
            </a>

            <a class="div-menu-flex" href="./conteudo"> 
                    <img class="img-menu-lateral" src="img/img-menu/notebook.png" alt="">
                    <li class="li-space-menu">Conteúdos</li>
                </a>

            <a class="div-menu-flex" href="./questionario"> 
                <img class="img-menu-lateral" src="img/img-menu/questionario.png" alt="">
                <li class="li-space-menu">Questionários</li>
            </a>
        </ul>
     </nav>