<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conteúdo do Estudante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/guiaEstudo.css">
</head>

<body>
    <% include header %>

    <main class="adicionar-guia">

        <section class="">
         
            <div class="guias">
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
                <div class="img-configuration">
                    <a href="./mostrarConteudo"> <img src="./img/img-guia-estudo/more.png" alt=""> </a>
                    <h3>Fração</h3>
                    <span class="span-nome">Maycon</span>
                </div>
            </div>

        </section>
    </main>
</body>

</html>