<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conteudo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/teacher/teacherQuestionnaireID.css">
</head>

<body>
    <% include header %>

    <section class="regular-area">
        <div class="border">
            <div class="border">
                <span class="span-outra-linha">Título</span>
            </div class="border">
            <div class="border">
                <span>Assunto</span>
            </div class="border">
        </div class="border">

        <div class="border">
            <div class="border">
                <span class="span-outra-linha">Título</span>
            </div class="border">
            <div class="border">
                <span>Assunto</span>
            </div class="border">
        </div class="border">

        <div class="border">
            <div class="border">
                <span class="span-outra-linha">Título</span>
            </div class="border">
            <div class="border">
                <span>Assunto</span>
            </div class="border">
        </div class="border">

        <div class="border">
            <div class="border">
                <span class="span-outra-linha">Título</span>
            </div class="border">
            <div class="border">
                <span>Assunto</span>
            </div class="border">
        </div class="border">


    </section>
</body>

</html>