<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/mostrarGuiaEstudo.css">
</head>

<body>
    <% include static/header %>

    <section class="mostrar-guia">

        <div class="menu-mostrar">

            <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size" src="./img/img-guia-estudo/more.png"
                        alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
            </div>
            <div class="flecha"></div>
            <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size" src="./img/img-guia-estudo/more.png"
                        alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
            </div>
            <div class="flecha"></div>
            <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size" src="./img/img-guia-estudo/more.png"
                        alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
            </div>
            <div class="flecha"></div>
            <div class="img-configuration">
                <a href="./cadastrarGuiaEstudo"> <img class="img-size" src="./img/img-guia-estudo/more.png"
                        alt=""> </a>
                <h3>Fração</h3>
                <span class="span-nome">Maycon</span>
            </div>
   
        </div>

    </section>
</body>

</html>