<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <div class="login-container">
        <div class="menu-login">
            <div class="botao-login">
                <span><a class="color-black" href="login">Login</a></span>
            </div>
            <div class="botao-cadastro">
                <span> <a class="a-color" href="cadastro"> Criar Perfil</a></span>
            </div>
        </div>

        <form action="" class="form-login">
            <input class="size-input" type="text" placeholder="Nome"> <br>
            <input class="size-input" type="text" placeholder="E-mail"> <br>
            <input class="size-input" type="text" placeholder="Confirmar E-mail"> <br>
            <input class="size-input" type="text" placeholder="Senha"> <br>
            <input class="size-input" type="text" placeholder="Confirmar Senha"> <br>
            <input class="input-professor" type="checkbox" value="Professor"/>Professor <br />
            <button class="button-cadastrar"><a href="./">Cadastrar</a></button> <br>
    </div>
    </form>
</body>

</html>