<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Conteúdo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/teacher/teacherCreateContent.css">
</head>

<body>
  <% include header %>

  <div class="regular-area">
    <div class="cadastrar-guia">
      <div class="add-flex">
        <div class="center">
          <div class="configuration-line">
            <label class="margem-alinhar" for="">Titulo:</label>
            <input name="name" class="size-input" type="text">
          </div>
          <div class="configuration-line">
            <label for="">Assunto:</label>
            <select name="subject" class="campo-selecao-ajusty">      
                <div class="size">        
              <option>Operacoes Basicas</option>
              <option>Fração</option>
              <option>Algebra</option>
              <option>Análise Combinatória</option>
              <option>Geometria</option>
              <option>Porcentagem</option>
              <option>Outro</option>
            </div>
            </select>
          
          </div>
        </div>
        <div class="botao-cadastra">
          <button>Confirmar</button>
        </div>
      </div>
      <textarea name="text" cols="30" rows="10"></textarea>
      </section>
    </div>
  </div>

</body>

</html>