<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conteudo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/teacher/teacherQuestionnaireID.css">
</head>

<body>
    <% include header %>

    <section class="regular-area">


        <div class="border">
            <img class="img-size" src="img/img-question/question.png" alt="">
            <a href=""><span>Título:</span></a>
        </div class="border">
        <div class="border">
            <img class="img-size" src="img/img-question/question.png" alt="">
            <a href=""> <span>Título:</span></a>
        </div class="border">
        <div class="border">
            <img class="img-size" src="img/img-question/question.png" alt="">
            <a href=""> <span>Título:</span></a>
        </div class="border">
        <div class="border">
            <img class="img-size" src="img/img-question/question.png" alt="">
            <a href=""> <span>Título:</span></a>
        </div class="border">





    </section>
</body>

</html>