<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= info.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../css/teacher/teacherCreateQuestion.css">
</head>

<body>
  
  <% include header %>

  <div class="regular-area">
      

    <form method="POST" class="cadastrar-questao">
      <section>
        <label for="nome">Nome:</label>
        <input name="name" class="campo-selecao" type="text">
        <div>
          <label for="">Assunto:</label>
          <select name="subject" class="campo-selecao-ajusty">
            <div class="size">
              <option>Operações Básicas</option>
              <option>Fração</option>
              <option>Álgebra</option>
              <option>Análise Combinatória</option>
              <option>Geometria</option>
              <option>Porcentagem</option>
              <option>Outro</option>
            </div>
          </select>

          <textarea name="text" class="text-question" name="" id="" cols="30" rows="10">Texto da Pergunta</textarea>

          <div class="ajusty-option">
            <input type="radio" name="options" value="A">A: <input name="optionA" class="input-ajusty"  type="text"> <br>
            <input type="radio" name="options" value="B">B: <input name="optionB" class="input-ajusty"  type="text"> <br>
            <input type="radio" name="options" value="C">C: <input name="optionC" class="input-ajusty"  type="text"> <br>
            <input type="radio" name="options" value="D">D: <input name="optionD" class="input-ajusty"  type="text"> <br>
            <input type="radio" name="options" value="E">E: <input name="optionE" class="input-ajusty"  type="text"> <br>
          </div>

          <div class="botao-cadastra">
            <button type="submit">Confirmar</button>
          </div>
      </section>
    </form>

  </div>
</body>

</html>