<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/student/studentMainPage.css">
    <title>Página Inicial</title>
</head>

<body>
    <% include header %>
    
    <section class="regular-area">
        <div class="center">
            <h2>O que é a MathSchool</h2>
        </div>
        <p>É uma plataforma para o desenvolvimento de métodos de estudos feitos por professores, no qual eles poderam
            compartilhar livremente a maneira na qual desejam trabalhar, podendo se basear com conteúdos e questionários
            de outros professores</p>

            <div class="center">
                <h2>Faça seu Guia de Estudo</h2>
            </div>

            <div class="center">
                <h2>Crie seus Conteúdos</h2>
            </div>
            <div class="center">
                <h2>Faça seus Questionários</h2>
            </div>
            <div class="center">
                <h2>Compartilhe com todos</h2>
            </div>

    </section>

</body>

</html>