body{
    background-color: #EEEEEE;
}
.menu-texto{
    width: 61.5vw;
    margin-top: 100px;
    margin-left: 21.5vw;
    background-color: white;
    padding: 100px;
    padding-top: 60px;
    text-align: justify;
}

.center{
    text-align: center;
}
p{
    line-height: 20px;
}

#bb{

    text-decoration: none;

}