body{
    background-color: #EEEEEE;
    color: #00396B;
}
.mostrar-guia{
    margin-left: 20vw;
    padding-top: 110px;
    text-align: center;
}

.mostrar-guia h1{
    font-size: 2em;
    font-weight: bold;
}

.menu-mostrar{
    width: 57.5vw;
    margin-top: 40px;
    margin-left: 7.5vw;
    background-color: white;
    padding-left: 7.5vw;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.img-configuration{
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 50px;
    
}
.img-size{
    width: 100px;
}


.flecha::after {
    display:block;
    position:absolute;
    content:'';
    left:-45px;
    top:-3px;
    width: 40px;
    height: 8px;
    background:#00396B;
  }
  
  .flecha {
    margin-top: 36px;
    position:relative;
    margin-left:60px;
    margin-right: 30px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #00396B;
  }

  h3{
      margin: 0;
      padding: 0;
  }