body{
    margin: 0;
    padding: 0;
    margin-top: 7.5vh;
}
.form-login{
    background-color: #EEEEEE;
    width: 45vw;
    height: 350px;
    margin-left: 27.5vw; 
    margin-top: 10px;
    border: solid #707070 1px;
    border-radius: 20px;
}
.login-container{
    text-align: center;
}
.size-input-email{
    width: 35vw;
    height: 30px;
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-top: 60px;
}

.size-input-senha{
    width: 35vw;
    height: 30px;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 80px;
}

.menu-login{
    font-size: 1.8em; 
    display: block;

}

.botao-login{
    background: #00396B;
    width: 5vw;
    list-style: none;
    color: white;
    width: 22.5vw;
    height: 40px;
    display: inline-block;
    border: solid #707070 1px;
    border-radius: 10px;
    
}

.botao-cadastro{
    color: black;
    background: #EEEEEE;
    width: 22.5vw;
    height: 40px;
    display: inline-block;
    border: solid #707070 1px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    vertical-align: middle;
}
.a-color{
    color: black;
}

.button-login{
    color: #FFFFFF;
    background: #00396B;
    width: 12.5vw;
    height: 47.5px;
    border: solid #707070 1px;
    border-radius: 50px; 
    margin-bottom: 30px;
    font-size: 1.3em;
}
.esquecer-senha{
    color: #A58D8D;
}