<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../css/student/studentMainPage.css">
    <title>Página Inicial</title>
</head>

<body>
    <% include header %>

    <section class="regular-area">
        <div class="center">
            <h2>O que é a MathSchool</h2>
        </div>
        <div class="justify">

            <p>
                É uma plataforma para o estudo de matemática. O usuário pode se cadastrar como discente ou docente. Como
                discente é possível estudar de acordo com a metodologia que cada professor desenvolveu, resolvendo
                questões e lendo matérias sobre matemática. Como docente é possível criar e reaproveitar conteúdos,
                guias de estudo, questionários e questões feitas por outros professores para a aplicação de conceitos
                matemáticos e estudos diversificados.
            </p>
            <div class="center">
                <img src="../../img/img-tutorial/matematica.png" alt="Imagem de matematica">
            </div>
        </div>
        <div class="justify">
            <h2>Navegação</h2>
            <p>
                Acesse todas as áreas do MathSchool por meio do menu principal, posicionado à esquerda das páginas. O
                menu mostra o tipo de usuário autenticado, seu nome e e-mail. Além de permitir que o usuário saia de sua
                conta apertando no botão com simbolo de uma porta, posicionado ao lado das informações do usuário.
            </p>
        </div>
        <div class="justify">
            <h2>Faça seus Materiais</h2>
            <p>
                No MathSchool, como docente, você pode desenvolver guias, questionários, questões e conteúdos. Nessas
                páginas o usuário pode visualizar todos os materiais, os materiais já cadastrados por ele e cadastrar um
                novo. <br> <br>
            </p>
            <div class="center">
                <img src="../../img/img-guia-estudo/more.png" alt="mais">
            </div>
            <p>
                No cadastro de todos os materiais é necessário definir seu nome e assunto. Nos conteúdos cadastra-se o
                texto de cada conteúdo. <br> Cada questão precisa ter 5 alternativas, selecionando a alternativa correta
                antes finalizar o cadastramento. <br> Os guias e questionários exibem os materiais que formam o caminho
                a ser seguido quando o estudante for utilizá-los.
            </p>
        </div>
        <div class="justify">
            <h2>Créditos</h2>
            <p>
                Aplicação desenvolvida por Maycon Santos Barbieri e Wesley Monares Rodrigues.
                <br> <br>
                Desenvolvido com auxilio do Instituto Federal do Mato Grosso do Sul - Campus Nova Andradina.
            </p>

        </div>
        <div class="img-end">
            <img src="../../img/img-tutorial/ifms.png" alt="IFMS">
        </div>

    </section>

</body>

</html>